<!doctype html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>네이버 로그인</title>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<body>
<!-- 네이버 로그인 버튼 노출 영역 -->
<div id="naver_id_login"></div>
<div>
    <button type="button" onclick="doGoogleLogin()">Google</button>

</div>

<!-- //네이버 로그인 버튼 노출 영역 -->
<script type="text/javascript">
  	var naver_id_login = new naver_id_login("dNaliT81us4vFOLhs794", "http://localhost:8080/naver/success1");
  	var state = naver_id_login.getUniqState();
  	naver_id_login.setButton("white", 2,40);
  	naver_id_login.setDomain("http://localhost:8080");
  	naver_id_login.setState(state);
  	naver_id_login.setPopup();
  	naver_id_login.init_naver_id_login();
  </script>
<!---->

<!--구글 로그인-->
<script>
  function doGoogleLogin() {
  const url = 'https://accounts.google.com/o/oauth2/v2/auth?client_id=' +
      "183758008676-dgrchqofj0ej5mvma76q3qjjcs70a2n3.apps.googleusercontent.com" +
      '&redirect_uri=http://localhost:8080/googleSuccess' +
      '&response_type=code' +
      '&scope=email profile';

  location.href = url;
}

</script>

</body>
</html>